* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.top {
    height: 30px;
    background-color: #f7f7f7;
    border-bottom: 1px #D7D7D7 solid;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 970px;
}

.container .top-l {
    float: left;
    font-size: 8px;
    line-height: 30px;
}

.container .top-r {
    float: right;
}

.container .menu li {
    float: right;
    margin-right: 15px;
    line-height: 30px;
    font-size: 8px;
}

i.arrow-down {
    background: url('./images/arrow-down.png') no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}

.header {
    margin: 0 auto;
    width: 970px;
    height: 100px;
}

.logo {
    float: left;
    height: 100px;
}

.search {
    margin-top: 30px;
    float: right;
    background: #f1f1f1;
    padding: 5px;
    border-color: #ffffff;
}

.search input {
    width: 530px;
    height: 30px;
    float: left;
    border: 1px solid gray;
}

.search .submit {
    width: 100px;
    height: 30px;
    float: right;
    background: #2F70D0;
    font-size: 20px;
    color: #ffffff;
}

.nav {
    color: #0266a3;
    margin: 0 auto;
    width: 970px;
    border-bottom: 2px solid #0266a3;
}

.nav li {
    margin-right: 15px;
    text-align: center;
    display: inline-block;
}

.nav li:hover {
    background: #0266a3;
}

.nav li:hover a {
    color: #fff;
}

.nav li.active {
    background: #0266a3;
}

.nav li a {
    display: block;
    font-weight: 600;
    font-size: 8px;
    padding: 10px 20px;
    text-align: center;
    color: #0266a3;
}

.nav li.active a {
    color: #fff;
}

.banner {
    float: left;
    height: 210px;
}

.banner-l {
    float: left;
    width: 200px;
    margin-right: 10px;
    background: #ebf0f6;
}

.banner-center {
    float: left;
    width: 520px;
    margin-right: 10px;
    background: blue;
    background: url(images/banner.png) no-repeat;
}

.banner-r {
    float: left;
    width: 230px;
    background: #fff;
}

.contact {
    background: #f7faff;
    font-size: 8px;
    height: 98px;
}

.banner-title {
    padding: 10px 0 10px 25px;
    font-size: 14px;
    color: #fff;
    background: #0266a3;
}

.banner-menu {
    color: #606060;
}

.banner-menu li {
    margin: 8px 0 8px 10px;
}

.contact img {
    width: 50px;
    display: inline-block;
}

.contact span {
    width: 170px;
    display: inline-block;
}

.contact-me {
    margin-top: 20px;
    background: #f7f7f7;
    text-align: center;
    height: 92px;
}

.contact-me h3 {
    color: gray;
    font-size: 18px;
}

.contact-me h4 {
    color: #51a5e3;
}

.shoping-title {
    margin-top: 20px;
    background: #ECF1F7;
    color: black;
    font-size: 12px;
    margin: 10px 0px 10px 0px;
    padding: 10px 0 10px 20px;
}

.shoping {
    height: 350px;
}

.shoping-l {
    width: 725px;
    height: 348px;
    border: 1px #f2f2f2 solid;
    /*display: inline-block;*/
    margin-right: 5px;
    float: left;
}

.shoping-r {
    float: right;
    width: 230px;
    height: 348px;
    border: 1px #f2f2f2 solid;
}

.shoping-card {
    padding-left: 20px;
    padding-top: 10px;
    width: 34 0px;
    height: 175px;
    float: left;
}

.shoping-card img {
    width: 100px;
    height: 100px;
}

.summary {
    padding-left: 20px;
    width: 220px;
    height: 100px;
    font-size: 8px;
    float: right;
}

.price {}

.keyword {
    margin-top: 10px;
}

.summaryPrice {
    display: inline-block;
}

.currenPrice {
    color: red;
    font-size: 20px;
    display: inline-block;
}

.delPrice {
    display: inline-block;
    text-decoration: line-through;
}

.buy {
    background: #0a84e3;
    color: #fff;
    width: 100px;
    text-align: center;
    float: left;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
}

.buy-detail {
    float: left;
}

.shoping-list-title {
    color: #4E4E4E;
    font-size: 8px;
    padding: 5px 0 5px 8px;
}

.mouse {
    background: #cdcdcd;
    width: 5px;
    height: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    line-height: 15px;
}

.shoping-list li {
    /*padding-left: 10px;*/
    line-height: 15px;
    margin: 12px 0 12px 5px;
    font-size: 8px;
}

.shoping-list li a {
    margin-left: 10px;
    color: #000;
    text-decoration: none;
}

.shoping-submenu {
    border-bottom: 2px solid blue;
    height: 25px;
}

.submenu-l {
    background: #43ACE6;
    height: 25px;
    width: 150px;
    color: #fff;
    text-align: center;
    border-radius: 50px 200px 0 0;
    float: left;
}

.submenu-r {
    color: blue;
    float: right;
}

.shoping-b {
    height: 300px;
}

.shoping-b .shoping-l {
    border: 2px #f2f2f2 solid;
    height: 300px;
    width: 720px;
}

.shoping-b-sidebar {}

.shoping-card-b {
    float: left;
    width: 165px;
    margin-right: 15px;
}

.shoping-card-b img {
    width: 165px;
    height: 170px;
}

.shoping-card-b .title {
    margin-bottom: 10px;
    font-size: 8px;
    text-align: center;
}

.shoping-card-b .sub-title {
    font-size: 8px;
    color: gray;
    margin-bottom: 20px;
    text-align: center;
}

.link-list {
    border-top: 2px solid #fbfbfb;
    border-bottom: 2px solid #0a7ec3;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
}

.link-list li {
    float: left;
    margin-bottom: 10px;
    font-size: 8px;
    margin-right: 10px;
}

.link-list li a {
    text-decoration: none;
    color: gray;
}

ul {
    list-style: none;
}

.about-links {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.about-links li {
    display: inline-block;
    height: 25px;
}

.about-links li a {
    padding: 2px 10px;
    font-size: 8px;
    color: black;
    border-right: 1px solid gray;
}

.text-center {
    text-align: center;
    font-size: 12px;
    margin-bottom: 10px;
}